<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <style>
            .comment-border{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>Blog Page</h1>
        {% if user_cookie %}
            <a href="/new-post">Add a new post</a>
        {% else %}
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        {% endif %}
        <br>
        {% for post in posts %}
            <a href="/post/{{post.key().id()}}"><h3>{{post.subject}}</h3></a>
            <hr>
            <p>{{post.content | safe}}</p>
        {% endfor %}
    </body>
</html>