{% extends "base.html" %}
{% block title %} Log In {% endblock %}
{% block content %}
    <h2>Log In</h2>
    <a href="/signup">Sign Up</a>
    <form method="post">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" value="{{username}}">
        {{username_error}}
        {{user_not_found}}
        <br>
        <label for="pass">Password:</label>
        <input id="pass" type="password" name="password" value="">
        {{incorrect_password}}
        {{password_error}}
        <br>
        <button>Submit</button>
    </form>
{% endblock %}