<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create A Post</title>
</head>
    <body>
        <form method="post">
            <label for="subject">
                <div>Subject:</div>
                <input type="text" id="subject" name="subject" value="{{subject}}">
            </label>
            <br>
            <label for="content">
                <div>Content:</div>
                <textarea name="content" id="content">{{content}}</textarea>
            </label>
            <br>
            {{error}}
            <br>
            <input type="submit">
        </form>
    </body>
</html>